version: '3.8'
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: hyperion_root_pass
      MYSQL_DATABASE: hyperion_db
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: mysql+pymysql://root:hyperion_root_pass@db/hyperion_db

  frontend:
    build: ./frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend