services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: hyperion_user
      POSTGRES_PASSWORD: hyperion_password
      POSTGRES_DB: hyperion_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # ESTO ES LO QUE FALTABA:
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U hyperion_user -d hyperion_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://hyperion_user:hyperion_password@db:5432/hyperion_db
    volumes:
      - ./backend/logs:/app/logs

  frontend:
    build: ./frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend

volumes:
  postgres_data: